<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @cart.item_id %>
</p>

<p>
  <b>User:</b>
  <%= @cart.user_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @cart.amount %>
</p>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
